<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<!-- <script src="/script/pagination.js" type="text/javascript"></script> -->
<script>
    function SetupPagination(items){ 
 let page_count = Math.ceil(items.length/5)
 for (let i=1; i < page_count + 1; i++){
   PaginationButton(i, items);
 }
}

function PaginationButton(page,items){ 
 
 let listButton = document.createElement('li'); 
 listButton.classList.add('page-item');

 let button = document.createElement('a');
 button.classList.add('page-link');
 button.innerText = page;


 button.addEventListener('click', function(){
  current_page = page;
   DisplayList(items, rows_per_page, current_page);
 });

 listButton.appendChild(button);

 return listButton;

}
</script>
</body>
</html>