<%- include('partials/header') %>


  <div class="d-flex flex-row">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand mt-5 mb-5" href="/dashboard">
          <img src="/img/logo.svg" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
            <li class="nav-item">
              <a class="nav-link btn btn-danger text-light" aria-current="page" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Mechanical & Electrical </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../me/log-activity">Log Activity</a></li>
                <li><a class="dropdown-item" href="../me/LVMDP">LVMDP</a></li>
                <li><a class="dropdown-item" href="../me/perusahaan-listrik-negara">PLN</a></li>
                <li><a class="dropdown-item" href="../me/solar">Solar </a></li>
                <li><a class="dropdown-item" href="../me/crane">Crane</a></li>
                <li><a class="dropdown-item" href="../me/genset">Genset</a></li>
                <li><a class="dropdown-item" href="../me/PDAM">PDAM</a></li>
                <li><a class="dropdown-item" href="../me/cubicle">Cubicle</a></li>
                <li><a class="dropdown-item" href="../me/suhu-and-humidity">Suhu & Humidity</a></li>
                <li><a class="dropdown-item" href="../me/trafo">Trafo</a></li>
              </ul>
            </li>
    
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Security</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/security/SEC">SEC</a></li>
                <li><a class="dropdown-item" href="/security/buku-tamu-vendor">Buku Tamu Vendor</a></li>
              </ul>
            </li>
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Housekeeping </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <a type="button" href="/logout" class="btn btn-danger singOut border mx-2 ">Sign Out</a>
      </div>
    </nav>

    <div class="flex-grow-1 container-fluid anyClass ">
      <header>
        <div class="row justify-content-between p-4 align-items-center">
          <div class="col-9">
            <h1>Dashboard</h1>
          </div>
          <div class="col-3 d-flex justify-content-end">
            <p><%= currentTime%></p>
          </div>
        </div>
      </header>
      <main class="p-3 mt-3">
        <!-- <section class="konten py-3 px-4 border"> -->
          <div class="row justify-content-between ">
            <div class="col-4  db_menu ">
                <div class="row">
                  <div class="col-6 ">
                    <h2>Mechanical & Electrical</h2>
                    <h3>3 Task</h3>
                  </div>
                  <div class="col-6 garis d-flex flex-column align-items-center">
                    <div class="grafikMenu"></div>
                    <p>Update</p>
                    <p>Not Update</p>
                  </div>
                </div>   
            </div>
            <div class="col-4  db_menu ">
              <div class="row">
                <div class="col-6 ">
                  <h2>Security</h2>
                  <h3>3 Task</h3>
                </div>
                <div class="col-6 garis d-flex flex-column align-items-center">
                  <div class="grafikMenu"></div>
                  <p>Update</p>
                  <p>Not Update</p>
                </div>
              </div>   
                
            </div>
            <div class="col-4  db_menu ">
              <div class="row">
                <div class="col-6 ">
                  <h2>House Keeping</h2>
                  <h3>3 Task</h3>
                </div>
                <div class="col-6 garis d-flex flex-column align-items-center">
                  <div class="grafikMenu"></div>
                  <p>Update</p>
                  <p>Not Update</p>
                </div>
              </div>   
            </div>
          </div>

          <div class="row mt-5 justify-content-between">
            <div class="col-3  update-box-1">
              <div class="row">
                <div class="col border  d-flex flex-column align-items-center">
                  <h3 class="my-4 border">Total Task</h3>
                  <div class="bulat"></div>
                  <div class="row mt-4 " style="width: 100%">
                    <div class="col  border">
                      <p class="ms-4">Update</p>
                    </div>
                    <div class="col border">
                      <p class="ms-4">Tidak Update</p>
                    </div>
                  </div>  
                </div>


              </div>
            </div>
            <div class="col-8 update-box-2">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          

          
        <!-- </section> -->
      </main>








    </div>

  </div>






  
    
  




<%- include('partials/footer') %>
