<%- include('partials/header') %>
 
 <div class="container-fluid">
        
      
        <div class="row">
          
          <div class="col-sm-7 foto-login vh-100 d-flex align-items-end justify-content-center" >
            <div class="row ">
              <div class="col">
                <div class="CXperience ">
                  <div class="row h-100 align-items-center justify-content-center me-3">
                    <div class="col-2 cx">
                      CX
                    </div>
                    <div class="col-6 pe ">
                      perience
                    </div>
                    
                  </div>
                </div>
              </div>
              

            </div>
            
          </div>


          <div class="col-sm-5 pt-5 px-5">
            <div class="row mb-5">
              <div class="col d-flex justify-content-center">
                <img src="img/logo.svg" alt="">
              </div>
            </div>
            
            <h1>Sign In</h1>
            <p class="mb-5 mt-3
            ">Selamat datang di website Sistem Informasi Daily Activity PT. Graha Sarana Dutha(Telkom Property).</p>
            <!-- Makes POST request to /login route -->
            <form action="/" method="POST">
              <div class="form-group mb-3">
                <label for="text">Username</label>
                <input type="text" class="form-control form-control-lg" name="username" placeholder="Username">
              </div>
              <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-lg" name="password" placeholder="Password">
              </div>
              <div class="d-grid mt-5 pb-5">
                <button type="submit" class="btn btn-danger btn-lg ">Login</button>
              </div>
              
            </form>
      
              
          </div>
    
      
        </div>
      </div>


<%- include('partials/footer') %>
