<%- include('partials/header') %>


  <div class="d-flex flex-row">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand mt-5 mb-5" href="#">
          <img src="/img/logo.svg" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Mechanical & Electrical </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../me/log-activity">Log Activity</a></li>
                <li><a class="dropdown-item" href="../me/LVMDP">LVMDP</a></li>
                <li><a class="dropdown-item" href="../me/perusahaan-listrik-negara">PLN</a></li>
                <li><a class="dropdown-item" href="../me/solar">Solar </a></li>
                <li><a class="dropdown-item" href="../me/crane">Crane</a></li>
                <li><a class="dropdown-item" href="../me/genset">Genset</a></li>
                <li><a class="dropdown-item" href="../me/PDAM">PDAM</a></li>
                <li><a class="dropdown-item" href="../me/cubicle">Cubicle</a></li>
                <li><a class="dropdown-item" href="../me/suhu-and-humidity">Suhu & Humidity</a></li>
                <li><a class="dropdown-item" href="../me/trafo">Trafo</a></li>
              </ul>
            </li>
    
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle btn btn-danger text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Security</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/security/SEC">SEC</a></li>
                <li><a class="dropdown-item" href="/security/buku-tamu-vendor">Buku Tamu Vendor</a></li>
              </ul>
            </li>
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Housekeeping </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <button type="button" class="btn btn-danger singOut border mx-2 ">Sign Out</button>
      </div>
    </nav>

    <div class="flex-grow-1 container-fluid">
      <header>
        <div class="row justify-content-between p-4 align-items-center">
          <div class="col-9">
            <h1>Mechanical & Electrical</h1>
          </div>
          <div class="col-3 d-flex justify-content-end">
            <p><%= currentTime%></p>
          </div>
        </div>
      </header>
      <main class="p-4">
        <section class="konten p-3">
          <div class="row mb-4">
            <div class="col-9">
              <h3><%= subdivisi%></h3>
            </div>
            <div class="col-3 d-flex justify-content-end">
              <a class="btn btn-danger" href="#" role="button">Activity</a>
              <a class="btn btn-light" href="#" role="button">Event</a>
              <a class="btn btn-light ms-2" href="#" role="button">
                <img src="img/Filter.svg" alt="">
                Filter
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <table class="table table-striped">
                <thead >
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col d-flex justify-content-end">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link active" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </section>
      </main>








    </div>

  </div>






  
    
  




<%- include('partials/footer') %>
