<%- include('partials/header') %>

<div class="container-fluid btn-light ">
    <div class="row justify-content-center h-100 align-items-center">
        <div class="col-7 bg-wpass">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-8 d-flex flex-column align-items-center">
                    <img src="img/logo.svg" alt="">
                    <p class="my-4">Maaf password yang anda masukkan salah</p>
                    <a class="btn btn-danger btn-lg" href="/" role="button">Login</a>
                </div>
            </div>
            
        </div>
    </div>
</div>

<%- include('partials/footer') %>




