*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    background-color: #fafafa;
}


.foto-login{
    background-image: url("../img/login.png");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
    /* height: 100vh; */
}

.CXperience{
  width: 263px;
  height: 77px;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0));
  backdrop-filter: blur(1.5px);
  margin-bottom: 100px;
  margin-right: 20px;
  border-radius: 10px;

  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.cx{
  font-size: 32px;
  color: #D62C20;
  font-weight: 600;
  margin-right: 3px;
}

.pe{
  font-size: 32px;
  color: white;
  font-weight: 400;
}

.bg-wpass{
  width: 740px;
  height: 500px;
  border-radius: 24px;
  box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.1);
}

.bg-wpass img{
  width: 50%;
  height: 50%;
}

.bg-wpass p{
  font-size: 1.3em;
}

h1{
    font-weight: 600;
}

.navbar{
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.navbar .container-fluid, 
.navbar-expand-lg .navbar-collapse, 
.navbar-expand-lg .navbar-nav{
  flex-direction: column;
  align-items: flex-start;
  
  
} 

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    
  
  }

.navbar-brand img{
  width: 164px;
}


.navbar {
    align-items: flex-start;
} 

.navbar a{
  font-size: 1.2vw;
}

.menu{
  font-size: 1.2em; 
}

header{
  background-color: white;
  position: sticky; /*(recomended)*/
  top: 0px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

header h1{
  font-size: 2em;
}

header p{
  font-size: 1em;
}

.konten{
  background-color: white;
  min-height: 80vh;
}

.table-width{
  overflow-x: auto; 
  width: 100%;
  height: 490px;
  overflow-y: scroll;
}



.konten h3{
  font-weight: 500;
  font-size: 1.5em;
}

thead{
  background-color: #D62C20;
  color: white;
}

.page-item a{
  background-color: #fafafa;
  color: black;
}


.pagination a.active {
  background-color: #D62C20;
  color: white;
}

.singOut{
  margin-top: 70%;
  /* border: 1px solid black; */
}

.konten h2{
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}



.db_menu{
  padding: 20px;
  background-color: white;
  color: black;
  width: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}

.db_menu h2{
  font-size: 1.5em;
  margin-bottom: 10px;
}

.db_menu h3{
  font-size: 1.8em;
  font-weight: 600;
}

.db_menu p{
  margin-top: 10px;
  margin-bottom: 0px;
}

.db_title{
  border-radius: 20px;
  padding: 20px;
}



.db_title h2{
  font-size: 1.4em;
}

.db_item{
  height: 20vh;
  width: 19%;
  /* border: 1px solid black; */
  background-color: white;
  color: black;
  border: 2px solid red;
  margin: 5px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
  
}

.db_text{
  width: 100%;
  height: 60%;
  /* border: 1px solid black; */
}

.db_image{
  background-image: url("/img/OBJECTS.svg");
  /* border: 1px solid black; */
  width: 100.5%;
  height: 40% ;
  border-radius: 0 0 10px 10px;
}



.db_item_2{
  height: 20vh;
  width: 23%;
  /* border: 1px solid black; */
  background-color: white;
  color: black;
  border: 2px solid red;
  margin: 5px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 10px;
  
}

.carousel-control-prev,
.carousel-control-next {
  height: 15%;
  
  top: 37.5%;
};


table, th, td {
  border: 2px solid black;
}



.anyClass {
  height:100vh;
  overflow-y: scroll;
  
}

.update-box-1{
  
  background-color: white;
  padding: 20px;
  width: 32%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  
}

.update-box-1 h3{
  font-size: 1.5em;
}

.update-box-2{
  
  background-color: white;
  padding: 20px;
  width: 66%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  
}

.update-box h3{
  font-size: 1.1em;
  font-weight: 500;
}

.bulat{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: red;
}

















@media (min-width: 992px) {
  
  .navbar .container-fluid, 
  .navbar-expand-lg .navbar-collapse, 
  .navbar-expand-lg .navbar-nav{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar {
    width: 20%;
    height: 100vh;
    background-color: white;
    align-items: flex-start;
    
    }
  
  form input {
    margin-bottom: 0.7em;
    }
  }
